@tailwind base;
@tailwind components;
@tailwind utilities;

.title1 {
 font-weight: 700;
 font-size: 2.5rem;
 line-height: 48px; 
 letter-spacing: -0.8px;
}

.title2 {
 font-weight: 700;
 font-size: 2rem;
 line-height: 2.4rem;
 letter-spacing: -0.64px;
}

.title3 {
 font-weight: 700;
 font-size: 1.25rem;
 line-height: 1.5rem;
 letter-spacing: 0.24px;
}

.title4 {
 font-weight: 700;
 font-size: 1rem;
 line-height: 1rem;
 letter-spacing: 0.192px;
}

.text1 {
 font-weight: 400;
 font-size: 1rem;
 line-height: 1.5rem; 
 letter-spacing: 0.192px;
}
.text2 {
 font-weight: 400;
 font-size: 0.875rem;
 line-height: 1.5rem;
 letter-spacing: 0.168px;
}

.landing {
 background: url(/one.jpg) no-repeat ;
 background-size: cover;
}

.preview {
 background: url(/two.jpg) no-repeat ;
 background-size: cover;
}

.calltobuy {
 background: url(/three.jpg) no-repeat ;
 background-size: cover;
}